* {
    box-sizing: border-box;
}


  body {
    padding: 0;
    margin: 0;
  }

  h1{
      font-size: 3rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  canvas {
    vertical-align: top;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}